doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    //INJECT:head
    //END INJECT
  body
    nav.navbar.navbar-default
      .container
        ul.nav.navbar-nav
          li: a(href='/') home
          li: a(href=getLink('examples')) test
          li: a(href='/not') error
    #react-root.container!= component
    script!= 'var sharedData = '+ JSON.stringify(data)
    //INJECT:body
    //END INJECT
